@model IEnumerable<Product>

<h2>Список продуктів</h2>

<ul>
    @foreach (var product in Model)
    {
        <li>@product.ID - @product.Name - @product.Price$ (@product.CreatedDate.ToString("dd.MM.yyyy HH:mm"))</li>
    }
</ul>

<h2>Таблиця продуктів</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.CreatedDate.ToString("dd.MM.yyyy HH:mm")</td>
            </tr>
        }
    </tbody>
</table>
